
@model IEnumerable<Category>

<h2>Categories</h2>
<ul>
    <!--Category name and description -->
    @foreach (Category category in Model)
    {
        <li>@category.CategoryName - @category.Description</li>
    }
</ul>
