
@model IEnumerable<Category>

<h2>Categories</h2>
<ul class="list-group">
    <!--Category name and description -->
    @foreach (Category category in Model)
    {
        <li class="list-group-item">
            <a class="text-decoration-none" href="@Url.Action("Index", "Product", new { id = category.CategoryId })">
                @category.CategoryName - @category.Description
            </a>
        </li>
    }
</ul>
